# Volumes
volumes/*
!volumes/config
volumes/config/*
!volumes/config/README
!volumes/db
volumes/db/*
!volumes/db/README
!volumes/dbimport
volumes/dbimport/*
!volumes/dbimport/README

# Others
.swp
.sandbox
